/**
 * Media Query Breakpoints
 * http://thoughtbot.github.io/neat-docs/latest/#media
 * Note: for high resolution/retina display, use mixin @hi-res
 */
$medium: min-width 767px;

/**
 * Colours
 */
$white: #ffffff;
$black: #000000;